CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_UPLOAD_PRESET=unsigned_upload_preset
CLOUDINARY_UPLOAD_FOLDER=AAF_INTL
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
PORT=5174
